// Base Parameters for all Processes
// ---------------------------------
params {
    // Output Directory
    outdir = './results'

    // Print Help module
    help = false

    // cache for conda
    cache = ''

    // Read Type - Pick one
    nanopore = false
    illumina = false

    // Nanopore Host Removal Process - Pick one if nanopore data
    nanostripper = false
    minimap2 = false

    // References - You will need to link your own human reference up with `--human_ref <reference>`
    human_ref = '/cvmfs/data.galaxyproject.org/byhand/hg38/seq/hg38.fa'
    cov2019_ref = "$baseDir/data/nCoV-2019.reference.fasta"
    keep_ref_id = 'MN908947.3'

    // Downsampling
    downsample = false
    if ( params.illumina ){
        downsample_count = 200000
    } else {
        downsample_count = 10000
    }
    downsample_seed = 101
    downsample_amplicons = null

    // Extras
    tracedir = '${params.outdir}/pipeline_info'
    max_memory = '256.GB'
    max_cpus = 16
    max_time = '120.h'
}

// Load Resources and Configs based on input data
// ----------------------------------------------
if ( params.nanopore ){
    includeConfig 'conf/nanopore.config'
}
if ( params.illumina ){
    includeConfig 'conf/illumina.config'
}
includeConfig 'conf/resources.config'

// Profiles
// --------
profiles {
    // Use `-c <profile.config` to add in wanted profile(s) in addition to what is here
    conda {
        conda.enabled = true
        conda.useMamba = false
        includeConfig 'conf/conda.config'
        if ( params.cache ) {
            conda.cacheDir = params.cache
        }
    }
    mamba {
        conda.enabled = true
        conda.useMamba = true
        includeConfig 'conf/conda.config'
        if ( params.cache ) {
            conda.cacheDir = params.cache
        }
    }
    nml {
        includeConfig 'conf/custom/nml.config'
    }
    test {
        includeConfig 'conf/custom/test.config'
    }
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

// Execution info and reporting
// ----------------------------
timeline {
    enabled = false
    file = '${params.tracedir}/execution_timeline.html'
}
report {
    enabled = false
    file = '${params.tracedir}/execution_report.html'
}
trace {
    enabled = false
    file = '${params.tracedir}/execution_trace.txt'
}
dag {
    enabled = false
    file = '${params.tracedir}/pipeline_dag.svg'
}

manifest {
    author = 'Darian Hole'
    description = 'Removal of human reads from SARS-CoV-2 fastq and fast5 files'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version = '0.5.1'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
