// Parameters
params {

    // Output Directory
    outdir = './results'

    // cache for conda
    cache = ''

    // Fastq Directory
    directory = false

    // References
    human_ref = '/cvmfs/data.galaxyproject.org/byhand/hg38/seq/hg38.fa'
    cov2019_ref = "$baseDir/data/nCoV-2019.reference.fasta"

    // Extras
    tracedir = '${params.outdir}/pipeline_info'
}

// Load Resources
includeConfig 'conf/resources.config'


profiles {

    conda {
        // Time out time
        conda.createTimeout = '1 h'

        // Create base environment
        process.conda = "$baseDir/environments/base.yml"

        if (params.cache) {
            conda.cacheDir = params.cache
        }
    }
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = false
    file = '${params.tracedir}/execution_timeline.html'
}
report {
    enabled = false
    file = '${params.tracedir}/execution_report.html'
}
trace {
    enabled = false
    file = '${params.tracedir}/execution_trace.txt'
}
dag {
    enabled = false
    file = '${params.tracedir}/pipeline_dag.svg'
}


manifest {
    author = 'Darian Hole'
    description = 'Removal of human reads from SARS-CoV-2 Nanopore fastq files'
    mainScript = 'main.nf'
    nextflowVersion = '>=20.01.0'
    version = '0.1.0'
}