// Base Parameters for all Processes
params {

    // Output Directory
    outdir = './results'

    // Print Help module
    help = false

    // cache for conda
    cache = ''

    // Read Type - Pick one
    nanopore = false
    illumina = false

    // Nanopore Host Removal Process - Pick one if nanopore data
    nanostripper = false
    minimap2 = false

    // References - You will need to link your own human reference up with `--human_ref <reference>`
    human_ref = '/cvmfs/data.galaxyproject.org/byhand/hg38/seq/hg38.fa'
    cov2019_ref = "$baseDir/data/nCoV-2019.reference.fasta"
    keep_ref_id = 'MN908947.3'

    // Downsampling
    downsample = false
    if ( params.illumina ){
        downsample_count = 200000
    } else {
        downsample_count = 10000
    }
    downsample_seed = 101
    downsample_amplicons = null

    // Extras
    tracedir = '${params.outdir}/pipeline_info'
}

// Load Resources and Configs based on input data
if ( params.nanopore ){
    includeConfig 'conf/nanopore.config'
}

if ( params.illumina ){
    includeConfig 'conf/illumina.config'
}

includeConfig 'conf/resources.config'

// Setup Profiles
profiles {

    conda {
        conda.enabled = true
        conda.useMamba = false
        includeConfig 'conf/conda.config'
        if ( params.cache ) {
            conda.cacheDir = params.cache
        }
    }
    mamba {
        conda.enabled = true
        conda.useMamba = true
        includeConfig 'conf/conda.config'
        if ( params.cache ) {
            conda.cacheDir = params.cache
        }
    }
    nml {
        includeConfig 'conf/custom/nml.config'
    }

    test {
        includeConfig 'conf/custom/test.config'
    }
    // Add more custom profiles here if wanted or use the nextflow arg for custom configs
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = false
    file = '${params.tracedir}/execution_timeline.html'
}
report {
    enabled = false
    file = '${params.tracedir}/execution_report.html'
}
trace {
    enabled = false
    file = '${params.tracedir}/execution_trace.txt'
}
dag {
    enabled = false
    file = '${params.tracedir}/pipeline_dag.svg'
}

manifest {
    author = 'Darian Hole'
    description = 'Removal of human reads from SARS-CoV-2 fastq and fast 5 files'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version = '0.3.0'
}
