// Conda env config file
process {
    // Conda Settings
    conda.createTimeout = '3 h'
    conda.useMamba = true

    // Create base environment
    if ( params.illumina ) {
        process.conda = "$baseDir/environments/illumina.yml"
    } else if ( params.nanopore ) {
        process.conda = "$baseDir/environments/nanopore.yml"
    }

    // Env Loading by Name
    withName: 'fastqSizeSelection_NS|fastqSizeSelection_MM2' {
        conda = "$baseDir/environments/artic.yml"
    }

    // Problem Env Loading for Nanostripper Only (as guppy is propietary)
    // Separated here as otherwise it will error out Illumina side
    if ( params.nanostripper ) {
        withName: guppyBasecallerCPU {
            conda = "${params.guppyCPU}"
        }
        withName: guppyBasecallerGPU {
            conda = "${params.guppyGPU}"
        }

        withName: fastqDemultiplex {
            conda = "${params.guppyCPU}"
        }

        // Temporary path to nanostripper env while waiting on conda env
        withName: nanostripper {
            conda = "${params.nanostripper_env_path}"
        }
    }
}
