process {
    withName: guppyBasecallerCPU {
        conda = "${params.guppyCPU}"
    }

    withName: guppyBasecallerGPU {
        conda = "${params.guppyGPU}"
    }

    withName: fastqSizeSelection {
        conda = "$baseDir/environments/artic.yml"
    }

    withName: fastqDemultiplex {
        conda = "${params.guppyCPU}"
    }

    // Temporary path to nanostripper env while waiting on conda env
    withName: nanostripper {
        conda = "${params.nanostripper_env_path}"
    }

}
