process {
    withName: guppyBasecallerCPU {
        conda = "${params.guppyCPU}"
    }

    withName: guppyBasecallerGPU {
        conda = "${params.guppyGPU}"
    }

    withName: fastqSizeSelection {
        conda = "$baseDir/environments/artic.yml"
    }

    withName: fastqDemultiplex {
        conda = "${params.guppyGPU}"
    }

    // Temporary path to nanostripper env while waiting on conda env
    withName: nanostripper {
        conda = "/Drives/W/Projects/covid-19/nml_reads/vdd/dehosting_runs/env/nanostripper"
    }

}
