// Illumina Parameters
params {

    // Illumina fastq reads directory, can be singular or paired
    directory = false

    // Minimum fastq read length
    min_length = 150

    // Maximum fastq read length
    max_length = 300

    // Single-end reads as input
    single_end = false

    // illumina fastq search path
    illuminaSuffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}' ]

    fastqpaths = makeFastqPaths( params.illuminaSuffixes )

}

def makeFastqPaths ( illuminaSuffixes ) {

    def fastq_searchpath = []
    for (suffix in illuminaSuffixes){
        fastq_searchpath.add(params.directory.toString() + '/**' + suffix.toString() + '.fastq')
    }
    return fastq_searchpath
}