// Illumina Parameters
params {

    // Illumina fastq reads directory, can be singular or paired
    directory = false

    // Human bwa-mem indexs folder (so that they don't have to be made)
    human_bwa_index = false 

    // Minimum mapping quality of the reads to keep
    keep_min_map_quality = 60

    // Minimum mapping quality of the reads to remove
    remove_min_map_quality = 0

    // Minimum fastq read length (unused currently)
    min_length = 50

    // Maximum fastq read length (unused currently)
    max_length = 300

    // Single-end reads as input
    single_end = false

    // illumina fastq search path
    illuminaSuffixes = ['*_R{1,2}_001', '*_R{1,2}', '*_{1,2}', '*pair{1,2}' ]
    fastqExtensions = ['.fastq', '.fastq.gz', '.fq', '.fq.gz']

    fastqpaths = makeFastqPaths( params.illuminaSuffixes, params.fastqExtensions )

}

def makeFastqPaths ( illuminaSuffixes, fastqExtensions ) {

    def fastq_searchpath = []
    for (suffix in illuminaSuffixes){
        for (extension in fastqExtensions){
            fastq_searchpath.add(params.directory.toString() + '/**' + suffix.toString() + extension.toString())
        }
    }
    return fastq_searchpath
}
