// Nanopore General Parameters
params {

    // Run name -- Seperate results based on a run name
    run_name = false

    // Minimum fastq read length
    min_length = 400

    // Maximum fastq read length
    max_length = 2400    
}
// Nanostripper
if ( params.nanostripper ) {
    params {
        //### Required ###//

        // Nanopore fast5 reads directory
        fast5_directory = false

        // Temporary path to nanostripper env and tool while we sort out a proper environment and method
        // Include the trailing `/` or it will not work!
        nanostripper_tool_path = "/Drives/W/Projects/covid-19/nml_reads/vdd/dehosting_runs/nanostripper/"
        nanostripper_env_path = "/Drives/W/Projects/covid-19/nml_reads/vdd/dehosting_runs/env/nanostripper"

        //### Optional ###//

        // Human minimap2 index -- *.mmi index of the human genome to speed up nanostripper (Optional)
        human_minimap2_index = false

        // GuppyCPU -- Guppy CPU conda env location must be passed as its proprietary and cannot be made on the fly
        // needed to de-multiplex and re-basecall the fast5 files made from nanostripper
        guppyCPU = false

        // GuppyGPU -- Made GuppyGPU environment location, used to speed up basecalling
        // gpu_per_node and max_parallel_basecalling used to prevent crashing the GPU while keeping high speeds
        // gpu_per_node currently will not change anything though
        guppyGPU = false
        gpu_per_node = 2
        max_parallel_basecalling = 6
    }
// Minimap2
} else {
    params {
        //### Required ###//

        // Directory containing fastq files OR directory containing barcode directories
        fastq_directory = false

        //### Optional ###//

        // Composite Human and Covid minimap2 index to speed up mapping (generated if not given)
        composite_minimap2_index = false

        // Generate dehosted fast5 files ONLY if a barcoded directory is given as fastq input
        fast5_directory = false
        
        // Filter out reads of a specific count before fast5 generation
        min_read_count = 1
    }
}
