// Nanopore Parameters
params {

    // Nanopore fast5 reads directory
    directory = false

    // Minimum fastq read length
    min_length = 1600

    // Maximum fastq read length
    max_length = 2400

    // Run name -- Seperate results based on a run Name
    run_name = false

    // Human minimap2 index -- *.mmi index of the human genome to speed up nanostripper (Optional)
    human_minimap2_index = false
}