// Nanopore process conda envs here so the guppy specified ones don't error out the Illumina stuff
// General Envs
process {
    withName: 'fastqSizeSelection_NS|fastqSizeSelection_MM2' {
        conda = "$baseDir/environments/artic.yml"
    }
}

// Guppy and Nanostripper problem Envs
if ( params.nanostripper ) {
    process {
        withName: guppyBasecallerCPU {
            conda = "${params.guppyCPU}"
        }

        withName: guppyBasecallerGPU {
            conda = "${params.guppyGPU}"
        }

        withName: fastqDemultiplex {
            conda = "${params.guppyCPU}"
        }

        // Temporary path to nanostripper env while waiting on conda env
        withName: nanostripper {
            conda = "${params.nanostripper_env_path}"
        }
    }
}
