// Process Specs and Error Handling
process {
    // Base processes computational parameters
    cpus = 1
    memory = 4.GB

    // Allow up to 3 retries per process
    errorStrategy = 'retry'
    maxRetries = 3

    // CPU and Memory Allocation for Specific Labels
    withLabel: smallCPU {
        cpus = 1
        memory = 4.GB
    }

    withLabel: largeCPU {
        cpus = 8
        memory = 32.GB
    }

    withLabel: mediumMem {
        cpus = 1
        memory = 12.GB
    }

    withLabel: largeMem {
        cpus = 4
        memory = 64.GB
    }

    withLabel: indexResources {
        cpus = 2
        memory = 12.GB
    }

    withLabel: regenerateFast5s {
        cpus = 2
        memory = 12.GB
    }

    // CPU and Memory Allocation for Specific Processes
    withName: compositeMappingBWA {
        cpus = 2
        memory = 12.GB
    }

    withName: nanostripper {
        cpus = 8
        memory = 32.GB
    }

    withName: guppyBasecallerCPU {
        cpus = 20
        memory = 64.GB
    }
}
