process {

    withLabel: largecpu {
        cpus = 8
        memory = 32.GB
    }

    withLabel: mediumcpu {
        cpus = 4
        memory = 16.GB
    }

    withLabel: smallcpu {
        cpus = 2
        memory = 4.GB
    }

    withLabel: bwa_composite_index {
        cpus = 8
        memory = 32.GB
    }

    withLabel: bwa_mem {
        cpus = 8
        memory = 16.GB
    }

    withLabel: nanostripper {
        cpus = 10
        memory = 20.GB
    }

    withName: guppyBasecallerCPU {
        cpus = 16
        memory = 64.GB
    }

    withLabel: largeMem {
        cpus = 4
        memory = 64.GB
    }

}