process {

    withLabel: largecpu {
        cpus = 10
        memory = 32.GB
    }

    withLabel: mediumcpu {
        cpus = 4
        memory = 16.GB
    }

    withLabel: smallcpu {
        cpus = 2
        memory = 4.GB
    }

    withLabel: bwa_human_index {
        cpus = 10
        memory = 32.GB
    }

    withLabel: minimap {
        cpus = 8
        memory = 32.GB
    }
}