// Cores
params {
    threads = 2
}

process {

    // Base processes computational parameters
    cpus = 1
    memory = 4.GB

    // Label based process computational parameters
    withLabel: largecpu {
        cpus = 4
        memory = 8.GB
    }

    withLabel: mediumcpu {
        cpus = 2
        memory = 8.GB
    }

    withLabel: smallcpu {
        cpus = 1
        memory = 2.GB
    }

    withLabel: bwa_composite_index {
        cpus = 2
        memory = 8.GB
    }

    withLabel: bwa_mem {
        cpus = 2
        memory = 12.GB
    }

    withLabel: largeMem {
        cpus = 2
        memory = 12.GB
    }

}