// Set needed environment variables - below fixes issue we had with openblas on cluster
env {
    OPENBLAS_NUM_THREADS = 4
}

params {
    partition = 'queue_name'
}

// Process Specs and Error Handling
process {
    // Base processes computational parameters
    executor    = "slurm"
    queue       = "${params.partition}"
    cpus        = 4
    memory      = 16.G

    // CPU and Memory Allocation for Specific Labels
    withLabel: smallCPU {
        cpus = 1
        memory = 6.GB
    }

    withLabel: largeCPU {
        cpus = 8
        memory = 32.GB
    }

    withLabel: mediumMem {
        cpus = 2
        memory = 24.GB
    }

    withLabel: largeMem {
        cpus = 4
        memory = 64.GB
    }

    withLabel: indexResources {
        cpus = 6
        memory = 90.GB
    }

    withLabel: regenerateFast5s {
        cpus = 16
        memory = 64.GB
    }

    // CPU and Memory Allocation for Specific Processes
    withName: compositeMappingBWA {
        maxForks = 16
        cpus = 4
        memory = 24.GB
    }

    // Max forks to avoid nanostripper stale file handler error hopefully
    withName: nanostripper {
        maxForks = 16
        cpus = 8
        memory = 32.GB
    }

    withName: guppyBasecallerGPU {
        clusterOptions = "--gres=gpu:v100:2" // 2 means 2 GPUs per node only taken
        cpus = 1
        memory = 8.GB
    }

    withName: guppyBasecallerCPU {
        cpus = 16
        memory = 64.GB
    }
}
