process {
    
    // Base processes computational parameters
    executor = "slurm"
    clusterOptions = "--partition=OutbreakResponse -c 2 --mem=4G"

    // Label based process computational parameters
    withLabel: largecpu {
        clusterOptions = "--partition=OutbreakResponse -c 16 --mem=64G"
        cpus = 16
        memory = 64.GB
    }

    withLabel: smallcpu {
        clusterOptions = "--partition=OutbreakResponse -c 4 --mem=8G"
        cpus = 4
        memory = 8.GB
    }

    withLabel: minimap {
        clusterOptions = "--partition=OutbreakResponse -c 8 --mem=90G"
        cpus = 8
        memory = 90.GB
    }

}