// Cores
params {
    illumina_threads = 8
    nanopore_threads = 16
}

process {

    // Base processes computational parameters
    executor = "slurm"
    clusterOptions = "--partition=OutbreakResponse -c 4 --mem=16G"

    // CPU and Memory Allocation for Specific Labels
    withLabel: largeCPU {
        clusterOptions = "--partition=OutbreakResponse -c 10 --mem=32G"
        cpus = 8
        memory = 32.GB
    }

    withLabel: mediumCPU {
        clusterOptions = "--partition=OutbreakResponse -c 4 --mem=16G"
        cpus = 4
        memory = 16.GB
    }

    withLabel: smallCPU {
        clusterOptions = "--partition=OutbreakResponse -c 2 --mem=4G"
        cpus = 2
        memory = 4.GB
    }

    withLabel: largeMem {
        clusterOptions = "--partition=OutbreakResponse -c 4 --mem=64G"
        cpus = 4
        memory = 64.GB
    }

    // CPU and Memory Allocation for Specific Processes
    withName: indexCompositeReference {
        clusterOptions = "--partition=OutbreakResponse -c 6 --mem=90G"
        cpus = 6
        memory = 90.GB
    }

    withName: mapToCompositeIndex {
        maxForks = 16
        clusterOptions = "--partition=OutbreakResponse -c 8 --mem=20G"
        cpus = 8
        memory = 20.GB
    }

    // Max forks to avoid nanostripper stale file handler error hopefully
    withName: nanostripper {
        maxForks = 16
        clusterOptions = "--partition=OutbreakResponse -c 8 --mem=32G"
        cpus = 8
        memory = 32.GB
    }

    withName: guppyBasecallerGPU {
        clusterOptions = "--partition=OutbreakResponse -c 1 --mem=8G --gres=gpu:v100:2" // 2 means 2 GPUs per node only taken
        cpus = 1
        memory = 8.GB
    }

    withName: guppyBasecallerCPU {
        clusterOptions = "--partition=OutbreakResponse -c 20 --mem=64G"
        cpus = 16
        memory = 64.GB
    }

    withName: regenerateFast5s {
        clusterOptions = "--partition=OutbreakResponse -c 16 --mem=48G"
        cpus = 16
        memory = 48.GB
    }
    withName: regenerateDehostedFast5s {
        clusterOptions = "--partition=OutbreakResponse -c 16 --mem=48G"
        cpus = 16
        memory = 48.GB
    }
}
