// Set needed environment variables
env {
    OPENBLAS_NUM_THREADS = 1
}
// Set max resources
params {
    max_memory = '12.GB'
    max_cpus = 2
    max_time = '1.h'
}

// Process Specs and Error Handling
process {
    // Base processes computational parameters
    cpus = 1
    memory = 2.GB

    // CPU and Memory Allocation for Specific Processes
    withName: compositeMappingBWA {
        cpus = 1
        memory = 6.GB
    }
    withName: nanostripper {
        cpus = 1
        memory = 6.GB
    }
    withName: guppyBasecallerCPU {
        cpus = 2
        memory = 6.GB
    }
}
