// Cores
params {
    illumina_threads = 2
    nanopore_threads = 2
}

env {
    OPENBLAS_NUM_THREADS = 1
}

process {
    // Base processes computational parameters
    cpus = 1
    memory = 4.GB

    // CPU and Memory Allocation for Specific Labels
    withLabel: smallCPU {
        cpus = 1
        memory = 4.GB
    }

    withLabel: largeCPU {
        cpus = 2
        memory = 6.GB
    }

    withLabel: mediumMem {
        cpus = 1
        memory = 6.GB
    }

    withLabel: largeMem {
        cpus = 1
        memory = 6.GB
    }

    withLabel: indexResources {
        cpus = 1
        memory = 6.GB
    }

    withLabel: regenerateFast5s {
        cpus = 1
        memory = 6.GB
    }

    // CPU and Memory Allocation for Specific Processes
    withName: compositeMappingBWA {
        cpus = 1
        memory = 6.GB
    }

    withName: nanostripper {
        cpus = 1
        memory = 6.GB
    }

    withName: guppyBasecallerCPU {
        cpus = 2
        memory = 6.GB
    }
}
